#onboarding {
    position: static;
    display: flex;
    flex-flow: column;
    min-height: 100%;
    box-sizing: border-box;
    min-width: 359px;
    overflow: hidden;
    font-family: "Segoe UI", Tahoma, sans-serif;
}

#background {
    transform: translateX(-50%);
    position: absolute;
    top: -250px;
    left: 50%;
    width: 1648px;
    height: 1525px;
    box-sizing: border-box;
    z-index: -1;

    #c-1 {
        background: radial-gradient(circle, rgb(161, 228, 255) 0%, rgba(255, 255, 255, 0.1) 70%);
        opacity: 0.4;
        position: absolute;
        left: 300px;
        top: 100px;
        width: 800px;
        height: 800px;
        box-sizing: border-box;
    }

    #c-2 {
        background: radial-gradient(circle, rgb(55, 81, 213) 0%, rgba(255, 255, 255, 0.1) 65%);
        opacity: 0.3;
        position: absolute;
        left: 420px;
        top: 320px;
        width: 1200px;
        height: 1200px;
        box-sizing: border-box;
    }
}

header {
    display: flex;
    flex-flow: row;
    place-items: center;
    place-content: center;
    place-self: stretch;
    gap: 16px;
    height: 100px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 700;
    color: #404a86;
}