name: "Publish beta"

on: [workflow_dispatch]

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Get version
        id: get-version
        shell: pwsh
        run: |
          $json = Get-Content package.json | ConvertFrom-Json
          echo "::set-output name=version::$(echo $json.version)"
      - name: Cache pnpm modules
        uses: actions/cache@v3
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-
      - uses: pnpm/action-setup@v2.2.4
        with:
          version: latest
      - name: Install dependencies
        run: pnpm install
      - name: Use Node.js 20.x
        uses: actions/setup-node@v3.4.1
        with:
          node-version: 20.x
          cache: "pnpm"
      - name: Build the Chrome extension
        run: pnpm build --zip --target=chrome-mv3
      - name: Build the Firefox extension
        run: pnpm build --zip --target=firefox-mv3
      - name: Build the Edge extension
        run: pnpm build --zip --target=edge-mv3
      - name: Build the Opera extension
        run: pnpm build --zip --target=opera-mv3
      - name: Rename extension files
        run: | 
          mv build/chrome-mv3-prod.zip build/${{ steps.get-version.outputs.version }}.beta_chrome-mv3.zip
          mv build/firefox-mv3-prod.zip build/${{ steps.get-version.outputs.version }}.beta_firefox-mv3.zip
          mv build/edge-mv3-prod.zip build/${{ steps.get-version.outputs.version }}.beta_edge-mv3.zip
          mv build/opera-mv3-prod.zip build/${{ steps.get-version.outputs.version }}.beta_opera-mv3.zip
      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ steps.get-version.outputs.version }}.beta
          files: build/*.zip
