.popup {
    display: flex;
    flex-direction: column;
    width: 425px;
    max-height: 500px;
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-size: 75%;
}

header {
    flex-shrink: 0;
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 8px;
    transition: box-shadow .1s;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px 2px transparent;

    .extension-name {
        margin-right: auto;
        font-weight: 500;
        cursor: pointer;

        img {
            width: 24px;
            height: 24px;
            margin-right: 4px;
        }
    }

    button {
        margin-left: 2px;
        border-radius: 2px;
        background-color: #f9f9f9;
        border: 1px solid #999;
        padding: 3px 8px;
        font-size: 1em;
    }
}

.popup-body {
    flex: 1;
    overflow-y: auto;
    position: relative;
    min-height: 50px;
}

.home,
.import {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #444;
    padding: 10px;

    .message {
        font-weight: 500;
        font-size: 14px;
        text-align: center;
    }
}

.import {
    .file {
        padding-top: 15px;
    }
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-top: 1px solid rgba(0, 0, 0, .2);

    .status {
        display: table;
        width: 100%;

        >div {
            display: table-cell;
            vertical-align: middle;
            text-align: center;

            .icon {
                width: 16px;
                height: 16px;
                margin-right: 4px;
            }
        }
    }
}