.popup {
    display: flex;
    flex-direction: column;
    width: 425px;
    max-height: 500px;
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-size: 75%;
}

header {
    flex-shrink: 0;
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 8px;
    transition: box-shadow .1s;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px 2px transparent;

    .extension-name {
        margin-right: auto;
        font-weight: 500;
        font-size: 1.5em;
        cursor: pointer;

        span {
            position: fixed;
            top: 24px;
        }

        img {
            width: 32px;
            height: 32px;
            margin-right: 4px;
        }
    }
}

.popup-body {
    flex: 1;
    overflow-y: auto;
    position: relative;
    min-height: 50px;
}

.home,
.user-matching,
.configuration {
    margin: 12px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #444;
    padding: 8px;

    a,
    a:visited {
        color: #444;
    }

    .title {
        font-weight: 500;
        font-size: 14px;
        text-align: center;
    }

    .message {
        padding: 8px;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
    }

    .message-list {
        font-weight: 400;
        font-size: 14px;
        text-align: justify;
    }

    .content {
        width: 100%;
    }
}

.configuration {

    .checkboxLabel {
        font-size: 14px;
    }

    .place {
        width: 180px;
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-top: 1px solid rgba(0, 0, 0, .2);

    .status {
        display: table;
        width: 100%;

        >div {
            display: table-cell;
            vertical-align: middle;
            text-align: center;

            .icon {
                width: 16px;
                height: 16px;
                margin-right: 4px;
            }
        }
    }
}