.popup {
    display: flex;
    flex-direction: column;
    width: 425px;
    max-height: 500px;
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-size: 75%;
}

header {
    flex-shrink: 0;
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 8px;
    transition: box-shadow .1s;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px 2px transparent;

    img {
        width: 24px;
        height: 24px;
        margin-right: 4px;
    }

    .extension-name {
        margin-right: auto;
        font-weight: 500;
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-top: 1px solid rgba(0, 0, 0, .2);

    .status {
        display: table;
        width: 100%;

        >div {
            display: table-cell;
            vertical-align: middle;
            text-align: center;

            .icon {
                width: 24px;
                height: 24px;
                margin-right: 4px;
            }
        }
    }
}