.popup {
    display: flex;
    flex-direction: column;
    width: 450px;
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-size: 75%;
}

header {
    flex-shrink: 0;
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 8px;
    transition: box-shadow .1s;
    box-shadow: 0 1px 2px 2px transparent;

    .extension-name {
        margin-right: auto;
        font-weight: 700;
        font-size: 16px;
        cursor: pointer;

        span {
            position: fixed;
            top: 16px;
        }

        img {
            width: 32px;
            height: 32px;
            margin-right: 4px;
        }
    }
}

.popup-body {
    flex: 1;
    overflow-y: auto;
    position: relative;
}

.home,
.user-matching,
.configuration {
    margin: 12px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .title {
        font-weight: 700;
        font-size: 16px;
        text-align: center;
    }

    .message {
        padding: 8px;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
    }

    .message-list {
        font-weight: 400;
        font-size: 14px;
        text-align: justify;
    }
}

.user-matching,
.configuration {
    height: 425px;
}


.user-matching {
    .user-matching-top-toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        height: 55px;
    }

    .user-matching-bottom-toolbar {
        display: flex;
        flex-flow: column;
        align-items: center;
        height: 55px;
    }
}

.configuration {
    .configuration-item-primary {
        font-size: 14px;
        font-weight: 600;
    }

    .configuration-item-secondary {
        font-size: 12px;
        font-weight: 300;
    }

    .place {
        margin-left: 71px;
        padding-bottom: 8px;
    }
}

footer {
    .status {
        margin-bottom: -6px;
    }

    .icon {
        width: 20px;
        height: 20px;
        margin-right: 4px;
    }
}